<div class="content" role="main">
    <h1>Chroma</h1>

    <app-tz name="London" tz="Europe/London"></app-tz>
    <app-tz name="Moscow" tz="Europe/Moscow"></app-tz>
    <app-tz name="Texas" tz="America/Chicago"></app-tz>
    <app-tz name="Delhi" tz="Asia/Kolkata"></app-tz>

    <app-polygon [points]="points"></app-polygon>

    <button mat-button (click)="playClick()">Start</button>

    <input type="hidden" #selection />
    <div class="card-container">
        <button class="card card-small">
            <input
                mat-button
                type="file"
                (change)="selectedImage($event)"
                id="local-img-src"
                accept="image/png, image/gif, image/jpeg"
                #fileChoose
            />
            <label for="local-img-src"><mat-icon>add</mat-icon><mat-icon>image</mat-icon></label>
        </button>
    </div>

    <canvas #srcCanvas></canvas>

    <div class="card-container">
        <h4>Chroma Blue (Cb)</h4>
        <mat-slider
            #blueSlider
            (change)="render()"
            (input)="sliderInput($event, 'blue')"
            min="0"
            max="255"
        ></mat-slider>
        <span>{{ modifier.blue | async | number: '3.0' }}</span>
        <canvas #blueCanvas></canvas>
    </div>
</div>
