\:host 
	color: #333
	box-sizing: border-box
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
  

h1 h2 h3 h4 h5 h6 
	margin: 8px 0

p 
	margin: 0

.spacer 
		flex: 1


.content 
	display: flex
	margin: 82px auto 32px
	padding: 0 16px
	max-width: 960px
	flex-direction: column
	align-items: center


svg.material-icons 
	height: 24px
	width: auto

svg.material-icons:not(:last-child) 
	margin-right: 8px

.card-container 
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin-top: 16px

.card 
	all: unset
	border-radius: 4px
	border: 1px solid #eee
	background-color: #fafafa
	height: 40px
	width: 200px
	margin: 0 8px 16px
	padding: 16px
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	transition: all 0.2s ease-in-out
	line-height: 24px

.card-container .card:not(:last-child) 
	margin-right: 0

.card.card-small 
	height: 16px
	width: auto

.card-container .card:not(.highlight-card) 
	cursor: pointer

	&:hover
		transform: translateY(-3px)
		box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35)

.card-container .card:not(.highlight-card):hover .material-icons path 
	fill: rgb(105, 103, 103)

.card.highlight-card 
	background-color: #1976d2
	color: white
	font-weight: 600
	border: none
	width: auto
	min-width: 30%
	position: relative

.card.card.highlight-card span 
	margin-left: 60px

a
	&:visited &:hover 
		color: #1976d2
		text-decoration: none


.circle-link 
		height: 40px
		width: 40px
		border-radius: 40px
		margin: 8px
		background-color: white
		border: 1px solid #eeeeee
		display: flex
		justify-content: center
		align-items: center
		cursor: pointer
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
		transition: 1s ease-out


.circle-link:hover 
		transform: translateY(-0.25rem)
		box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2)


footer 
		margin-top: 8px
		display: flex
		align-items: center
		line-height: 20px


footer a 
		display: flex
		align-items: center
